.App {
  text-align: center;
}

.App-div {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content-div {
  align-self: center;
  border: solid;
  padding: 4px;
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character-list {
  margin: 8px 0px;
}

.category {
  font-weight: 600;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
